<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>marketplacer.actions</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>01E696F8-81D0-479A-9739-D1E92B36912F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A998A3-C5B8-4539-BF7F-397FDCCE90CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0FDE7786-8C92-4522-81F0-97CA0583D597</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A998A3-C5B8-4539-BF7F-397FDCCE90CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>159E5ACB-1472-4E65-8B57-D80267C3D36E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AD4DD70-3BF4-46B4-A654-CE6B17FFB537</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C882B63-D244-4BB5-8C99-F810E6F15164</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55AF7EFF-CCD7-47E9-8168-0AFC037C0E9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>54718A4A-E1E6-4EE9-89FD-36B4D5E43BF9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>819B116B-0FED-4D4F-BCE0-06004770F332</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>43E403AB-4310-4D25-AFA3-0BCD68AD88B0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>040C0D18-810F-45F7-82D0-08089C60E6B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C0D6A337-E4B3-4C24-806C-AD9EDCFA5DA9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CC762F83-0AB4-413D-B66B-59E085846D24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B3F7C486-D13E-49E9-B48D-837D395DD590</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EE9F6D3B-BF8E-433F-9511-10EBD426C3A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8B7CEBA0-3C86-4B40-821B-702A4B1426A4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FD12F483-FEFE-4625-A0DE-69EEC1DB3228</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5999BC76-6C77-4D0E-BCBF-94B87D8A78C7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A44905A9-70D9-4231-9088-621D9BE0087B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DDF5CFDE-DF7C-416E-BFC6-7E9844510FAC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23B72CAA-E118-4790-8D70-8EAFDD5A9716</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C882B63-D244-4BB5-8C99-F810E6F15164</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31C6DC03-02A9-4D1F-9857-9C8FCD0BA003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>521BE7BD-FF72-4C3D-9164-1B65BDF81C06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47F08873-ADAC-4AFF-9996-F8FE73E4CF80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1429066-4A34-4AF5-9316-6DA857365318</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48DB3433-9623-41E0-8BCA-387F5B8C1910</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1429066-4A34-4AF5-9316-6DA857365318</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>507B30EF-46C3-49A2-9C4B-7A35BBB2FE63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A998A3-C5B8-4539-BF7F-397FDCCE90CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>521BE7BD-FF72-4C3D-9164-1B65BDF81C06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A998A3-C5B8-4539-BF7F-397FDCCE90CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>544F56F2-0704-45CF-A1D3-695C7F8AFFD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48DB3433-9623-41E0-8BCA-387F5B8C1910</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7EAA2AFF-DA4A-4202-AA22-5E15C372F3DF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47F08873-ADAC-4AFF-9996-F8FE73E4CF80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>585F2267-A082-42E6-93F5-620F4A6D171E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DA08AD5-DF2D-45CB-83F3-4589105EB2E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B8DB401-4160-44AA-8A0A-47130B6561C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A998A3-C5B8-4539-BF7F-397FDCCE90CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EBA359F-F893-43C8-A4CD-9283E571C9F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01E696F8-81D0-479A-9739-D1E92B36912F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90C5D83C-524D-4C6A-B282-A4690BDB6666</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53EC3FDA-F578-447D-B9EB-E37A81EDC689</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AD4DD70-3BF4-46B4-A654-CE6B17FFB537</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A998A3-C5B8-4539-BF7F-397FDCCE90CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D4B3C75-6C81-4CA3-B688-3BB09D1DD70A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A998A3-C5B8-4539-BF7F-397FDCCE90CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D7FAB4E-CB0E-4EB4-BFB2-524299F0F295</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>544F56F2-0704-45CF-A1D3-695C7F8AFFD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DA08AD5-DF2D-45CB-83F3-4589105EB2E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31C6DC03-02A9-4D1F-9857-9C8FCD0BA003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6D2B9C5-035A-420E-B572-AD88B32B3C9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FDE7786-8C92-4522-81F0-97CA0583D597</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1EEE5C2-7427-4C8E-ABF9-033770335379</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D4B3C75-6C81-4CA3-B688-3BB09D1DD70A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C986BEE9-1D97-4EF9-84E0-0717B5539A51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C701537-9E64-4350-BE22-D7E799944557</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF34F326-7A0C-4AA7-9465-A5BD246234BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C882B63-D244-4BB5-8C99-F810E6F15164</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7CD09F6-CEB4-4068-B810-B4B5E0D9FBC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B8DB401-4160-44AA-8A0A-47130B6561C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8891FC2-AD74-45F0-9AC4-1C6D46C80A71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>507B30EF-46C3-49A2-9C4B-7A35BBB2FE63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9A998A3-C5B8-4539-BF7F-397FDCCE90CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23B72CAA-E118-4790-8D70-8EAFDD5A9716</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B61FA84A-3928-416A-BF11-46DAC626B865</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF34F326-7A0C-4AA7-9465-A5BD246234BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mark Beattie</string>
	<key>description</key>
	<string>Automate common Marketplacer actions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Marketplacer Actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Project Fresh","arg":"31"},{"title":"M Insights","arg":"29"},{"title":"Unleash","arg":"28"},{"title":"Chaos","arg":"25"},{"title":"The Yabbies","arg":"24"},{"title":"Store Front Hit Squad","arg":"23"},{"title":"Orient Software","arg":"20"},{"title":"Bauhaus","arg":"18"},{"title":"Team Cream","arg":"14"},{"title":"Security Review","arg":"5"},{"title":"Team Trumpet","arg":"4"},{"title":"Design","arg":"3"},{"title":"Oops","arg":"2"},{"title":"Salamanders","arg":"1"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select a Github issues board</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>48DB3433-9623-41E0-8BCA-387F5B8C1910</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>missues</string>
				<key>subtext</key>
				<string>Can set the default in the environment vars</string>
				<key>text</key>
				<string>Open Github issues board</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9D7FAB4E-CB0E-4EB4-BFB2-524299F0F295</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/orgs/marketplacer/projects/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A1429066-4A34-4AF5-9316-6DA857365318</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:default_project_id}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Default project ID blank</string>
						<key>uid</key>
						<string>7EAA2AFF-DA4A-4202-AA22-5E15C372F3DF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Use workflow variable</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>544F56F2-0704-45CF-A1D3-695C7F8AFFD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:default_project_id}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>47F08873-ADAC-4AFF-9996-F8FE73E4CF80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mio</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open the given issue by ID</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8891FC2-AD74-45F0-9AC4-1C6D46C80A71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/marketplacer/{query}/issues/{var:issue_id}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>55AF7EFF-CCD7-47E9-8168-0AFC037C0E9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>open</string>
					<key>issue_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>507B30EF-46C3-49A2-9C4B-7A35BBB2FE63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>miu</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Generate an issue URL by ID</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>159E5ACB-1472-4E65-8B57-D80267C3D36E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>https://github.com/marketplacer/{query}/issues/{var:issue_id}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>819B116B-0FED-4D4F-BCE0-06004770F332</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>generate_url</string>
					<key>issue_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9AD4DD70-3BF4-46B4-A654-CE6B17FFB537</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Generate an issue Markdown link by ID</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E7CD09F6-CEB4-4068-B810-B4B5E0D9FBC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"GA Loader","arg":"ga_loader"},{"title":"Integrations","arg":"integrations"},{"title":"Marketplacer","arg":"marketplacer"},{"title":"MCP","arg":"mcp"},{"title":"MP-ETL","arg":"mp-etl"},{"title":"Operations","arg":"operations"},{"title":"Terraform ECS Stack","arg":"terraform-ecs-stack"},{"title":"BarcodeValidation gem","arg":"barcodevalidation"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select Github repository</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>23B72CAA-E118-4790-8D70-8EAFDD5A9716</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>[Issue {var:issue_id}](https://github.com/marketplacer/{query}/issues/{var:issue_id})</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>040C0D18-810F-45F7-82D0-08089C60E6B0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>Open issue</string>
						<key>uid</key>
						<string>54718A4A-E1E6-4EE9-89FD-36B4D5E43BF9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>generate_url</string>
						<key>outputlabel</key>
						<string>Generate Issue URL</string>
						<key>uid</key>
						<string>43E403AB-4310-4D25-AFA3-0BCD68AD88B0</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>generate_markdown_link</string>
						<key>outputlabel</key>
						<string>Issue Markdown link</string>
						<key>uid</key>
						<string>C0D6A337-E4B3-4C24-806C-AD9EDCFA5DA9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_pr_page</string>
						<key>outputlabel</key>
						<string>Open PR page</string>
						<key>uid</key>
						<string>B3F7C486-D13E-49E9-B48D-837D395DD590</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>generate_pr_url</string>
						<key>outputlabel</key>
						<string>Generate PR URL</string>
						<key>uid</key>
						<string>8B7CEBA0-3C86-4B40-821B-702A4B1426A4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>pr_markdown_link</string>
						<key>outputlabel</key>
						<string>PR Markdown link</string>
						<key>uid</key>
						<string>5999BC76-6C77-4D0E-BCBF-94B87D8A78C7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>issue_project_page</string>
						<key>outputlabel</key>
						<string>Generate issue project page</string>
						<key>uid</key>
						<string>DDF5CFDE-DF7C-416E-BFC6-7E9844510FAC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1C882B63-D244-4BB5-8C99-F810E6F15164</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>generate_markdown_link</string>
					<key>issue_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7B8DB401-4160-44AA-8A0A-47130B6561C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:default_repository}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Default repo blank</string>
						<key>uid</key>
						<string>B61FA84A-3928-416A-BF11-46DAC626B865</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Use workflow variable</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F9A998A3-C5B8-4539-BF7F-397FDCCE90CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/marketplacer/{query}/pull/{var:issue_id}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CC762F83-0AB4-413D-B66B-59E085846D24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:default_repository}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CF34F326-7A0C-4AA7-9465-A5BD246234BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter the issue title</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>31C6DC03-02A9-4D1F-9857-9C8FCD0BA003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mipp</string>
				<key>subtext</key>
				<string>Enter the issue number</string>
				<key>text</key>
				<string>Generate issue project page</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>585F2267-A082-42E6-93F5-620F4A6D171E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>https://github.com/marketplacer/{query}/pull/{var:issue_id}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EE9F6D3B-BF8E-433F-9511-10EBD426C3A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>issue_project_page</string>
					<key>issue_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9DA08AD5-DF2D-45CB-83F3-4589105EB2E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>issue_title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>521BE7BD-FF72-4C3D-9164-1B65BDF81C06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>[PR {var:issue_id}](https://github.com/marketplacer/{query}/pull/{var:issue_id})</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FD12F483-FEFE-4625-A0DE-69EEC1DB3228</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mprv</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>View pull request page</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8EBA359F-F893-43C8-A4CD-9283E571C9F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>open_pr_page</string>
					<key>issue_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>01E696F8-81D0-479A-9739-D1E92B36912F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string># Issue {var:issue_id} - {var:issue_title}

Tags: #issues

## Resources

* [Issue {var:issue_id}](https://github.com/marketplacer/{query}/issues/{var:issue_id})

## Logbook

* **{date}:** start

## Next actions

- [ ] Do something

## Notes

</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A44905A9-70D9-4231-9088-621D9BE0087B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mpru</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Generate a PR URL by ID</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C1EEE5C2-7427-4C8E-ABF9-033770335379</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>generate_pr_url</string>
					<key>issue_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9D4B3C75-6C81-4CA3-B688-3BB09D1DD70A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mprm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Generate a PR Markdown link</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A6D2B9C5-035A-420E-B572-AD88B32B3C9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>pr_markdown_link</string>
					<key>issue_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0FDE7786-8C92-4522-81F0-97CA0583D597</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Product backend working group","arg":"https:\/\/trello.com\/b\/GWFE5WLd\/product-backend-working-group"},{"title":"Front-end Working Group","arg":"https:\/\/trello.com\/b\/6cbWGjhh\/product-front-end-working-group"},{"title":"Operations Working Group","arg":"https:\/\/trello.com\/b\/XanUAGl7\/operations-working-group"},{"title":"Product team retro","arg":"https:\/\/trello.com\/b\/Fukedgia\/retro-discussions"},{"title":"Bauhaus team retro","arg":"https:\/\/trello.com\/b\/DJeNbuI4\/bauhaus-retro-board"},{"title":"Knowledge Shower","arg":"https:\/\/trello.com\/b\/2omPoq04\/knowledge-shower"}]</string>
				<key>keyword</key>
				<string>mtro</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Trello board</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>90C5D83C-524D-4C6A-B282-A4690BDB6666</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.tettra.co/teams/marketplacer/pages?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8C701537-9E64-4350-BE22-D7E799944557</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mtes</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Tettra</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C986BEE9-1D97-4EF9-84E0-0717B5539A51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>53EC3FDA-F578-447D-B9EB-E37A81EDC689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01E696F8-81D0-479A-9739-D1E92B36912F</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>040C0D18-810F-45F7-82D0-08089C60E6B0</key>
		<dict>
			<key>xpos</key>
			<integer>1025</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>0FDE7786-8C92-4522-81F0-97CA0583D597</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>1195</integer>
		</dict>
		<key>159E5ACB-1472-4E65-8B57-D80267C3D36E</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>1C882B63-D244-4BB5-8C99-F810E6F15164</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>23B72CAA-E118-4790-8D70-8EAFDD5A9716</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>31C6DC03-02A9-4D1F-9857-9C8FCD0BA003</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>47F08873-ADAC-4AFF-9996-F8FE73E4CF80</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>48DB3433-9623-41E0-8BCA-387F5B8C1910</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>507B30EF-46C3-49A2-9C4B-7A35BBB2FE63</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>521BE7BD-FF72-4C3D-9164-1B65BDF81C06</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>795</integer>
		</dict>
		<key>53EC3FDA-F578-447D-B9EB-E37A81EDC689</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>544F56F2-0704-45CF-A1D3-695C7F8AFFD6</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>55AF7EFF-CCD7-47E9-8168-0AFC037C0E9C</key>
		<dict>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>585F2267-A082-42E6-93F5-620F4A6D171E</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>7B8DB401-4160-44AA-8A0A-47130B6561C6</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>819B116B-0FED-4D4F-BCE0-06004770F332</key>
		<dict>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>8C701537-9E64-4350-BE22-D7E799944557</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>8EBA359F-F893-43C8-A4CD-9283E571C9F1</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>90C5D83C-524D-4C6A-B282-A4690BDB6666</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>9AD4DD70-3BF4-46B4-A654-CE6B17FFB537</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>9D4B3C75-6C81-4CA3-B688-3BB09D1DD70A</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>1075</integer>
		</dict>
		<key>9D7FAB4E-CB0E-4EB4-BFB2-524299F0F295</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>9DA08AD5-DF2D-45CB-83F3-4589105EB2E8</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>795</integer>
		</dict>
		<key>A1429066-4A34-4AF5-9316-6DA857365318</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>A44905A9-70D9-4231-9088-621D9BE0087B</key>
		<dict>
			<key>xpos</key>
			<integer>1045</integer>
			<key>ypos</key>
			<integer>1035</integer>
		</dict>
		<key>A6D2B9C5-035A-420E-B572-AD88B32B3C9C</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1165</integer>
		</dict>
		<key>C1EEE5C2-7427-4C8E-ABF9-033770335379</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1045</integer>
		</dict>
		<key>C986BEE9-1D97-4EF9-84E0-0717B5539A51</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>CC762F83-0AB4-413D-B66B-59E085846D24</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>CF34F326-7A0C-4AA7-9465-A5BD246234BE</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>E7CD09F6-CEB4-4068-B810-B4B5E0D9FBC9</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>E8891FC2-AD74-45F0-9AC4-1C6D46C80A71</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>EE9F6D3B-BF8E-433F-9511-10EBD426C3A6</key>
		<dict>
			<key>xpos</key>
			<integer>1035</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>F9A998A3-C5B8-4539-BF7F-397FDCCE90CC</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>FD12F483-FEFE-4625-A0DE-69EEC1DB3228</key>
		<dict>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>default_project_id</key>
		<string>18</string>
		<key>default_repository</key>
		<string>marketplacer</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>default_project_id</string>
		<string>default_repository</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/beet/marketplacer_alfred_workflow</string>
</dict>
</plist>
